<!DOCTYPE html>
<html>
<head>
    <title>The Beacon School Geoguessr</title>
    <style>
        #location-image {
            max-width: 600px;
            cursor: crosshair;
        }
    </style>
</head>
<body>
    <h1>Guess where this image is in the school!</h1>
   
    <p id="result"></p>

    <script>
        window.onload = function() {
            const image = document.getElementById('location-image');

        image.addEventListener('click', function(event) {
            const rect = image.getBoundingClientRect();
            const x = event.clientX - rect.left;
            const y = event.clientY - rect.top;

            const data = {
                image_id: "{{ image_id }}",
                x: Math.round(x),
                y: Math.round(y)
            };

            fetch('/guess', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                document.getElementById('result').textContent = `Distance: ${result.distance}`;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }); 
        }
    </script>

    <img id="location-image" src="{{ url_for('static', filename='images/' + location.image) }}" alt="location image" data-id="{{ image_id }}">
</body>
</html>